@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import 'partials/header';
/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* header */

header .header-Top {
    background-color: #0282f9;
    padding: 0.3125rem 0.625rem;
    font-size: 0.8rem;
    color: #fff;
}

header .row {
    display: flex;
    justify-content: right;
    gap: 2.5rem;
}

.header-bottom .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.header-bottom ul {
    display: flex;
    height: 8.75rem;
}

.header-bottom ul li {
    border-bottom: .125rem solid transparent;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 8.75rem;
    padding-right: 1.875rem;
}

.header-bottom a {
    text-decoration: none;
    color: black;
}

.header-bottom a:hover {
    color: #0282f9;
}
.header-bottom li:hover {
    color: #0282f9;
    border-bottom: .25rem solid #0282f9;
}

.container-Search {
    border-bottom: 0.125rem solid #0282f9;
    display: flex;
    gap: .5rem;
    border-bottom: 0.125rem solid #0282f9;
}

.container-Search input {
    border: none;
    text-align: right;
}

.bg-jumbo {
    background-image: url("../images/jumbotron.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    height: 400px;
}

.btn-jumbo {
    background-color: #0282f9;
    cursor: pointer;
    color: #fff;
    position: absolute;
    bottom: -1.25rem;
    border: none;
    font-weight: 700;
    padding: .8125rem;
    transition: 0.5s;
}

.btn:hover {
    background-color: #7da4c9;
}

/* Main */

.bg-container-cards {
    background-color: #1c1c1c;
    padding-bottom: 2.5rem;
}    

.bg-container-cards .row {
    padding: 4.375rem 0;
}

.bg-container-cards .col {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.box-cards {
    width: calc(100% / 6 - 1.25rem);
}

.bg-container-cards .col:last-child {
    text-align: center;
}

.cards {
    position: relative;
    transition: 0.8s;
}

.cards:hover {
    transform: scale(1.1);
}

.cards h5 {
    color: #fff;
    font-size: .8125rem;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: .9375rem;
}

.cards span {
    color: #fff;
    position: absolute;
    top: .3125rem;
    left: .3125rem;
    padding: .3125rem .5rem;
    background-color: #0282f9;
}

.bg-container-cards .col:last-child {
    justify-content: center;
}

.bg-container-cards .btn {
    background-color: #0282f9;
    cursor: pointer;
    border: none;
    color: #fff;
    padding: .6875rem 2.1875rem;
    transition: 0.5s;
}

.bg-banner {
    background-color: #0282f9;
    padding: 1.875rem 0;
}

.bg-banner ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bg-banner li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: .75rem;
    font-weight: 300;
    text-transform: uppercase;
}

.bg-banner img {
    max-width: 50px;
    margin-right: .9375rem;
}